<h3>Entre em contato.</h3>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/Screenshot_2.png" class="d-block w-100" alt="..." width="55" height="280">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Screenshot_3.png" class="d-block w-100" alt="..." width="55" height="280">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Screenshot_4.png" class="d-block w-100" alt="..." width="55" height="280">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="centro">Encontre nos nas redes sociais.</section>
<ul class="redes">
  <li><a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/Screenshot_5.png" alt="">Instagram</a></li>
  <li><a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img src="../../../assets/Screenshot_6.png" alt="">Facebook</a></li>
  <li><a href="https://www.linkedin.com/" target="_blank"><img src="../../../assets/Screenshot_7.png" alt="">Linkedin</a></li>
</ul>