<nav class="navbar bg-body-tertiary">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">
      <img clas="img" [src]="trabalhoCabecalho" [alt]="logo" width="100" height="80" class="d-inline-block align-text-center">
      Colaboradores
    </a>
    <button class="btn btn-info" (click)="home()"> Home</button>
    <button class="btn btn-info" (click)="cadastrarColaborador()"> Cadastro</button>
    <button class="btn btn-info" (click)="contato()"> Contato</button>
  </div>
</nav>